.sidebarUser{
    display: flex;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
}
a{
    width: 100%;
    text-decoration: none;
    color: var(--primary-text-color);
}
.sidebarUser>*{
    margin-right: 10px;
}
.sidebarUser:hover{
    background: lightgray;
}