
img{
    width: 200px;
}
.login{
    display: grid;
    place-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.login__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login__container>*{
    margin-bottom: 20px !important;
}

form{
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}
form>*{
    margin-bottom: 30px !important;
}
form>button{
    max-width: 50%;
    margin: auto !important;
}

/*profile =>  name, email, id, picture => url */