.message {
  display: flex !important;
  padding: 15px;
  align-items: center !important;
  margin: 15px;
}
.message__avatar {
  margin-right: 20px;
}
.message__text {
  max-width: 400px !important;
  text-align: left !important;
  background-color: pink;
  line-height: 1.34 !important;
  font-size: 15px !important;
  padding: 8px 15px 9px;
  border-radius: 1.3em !important;
}
.message.current {
  justify-content: flex-end;
}
.message.current .message__avatar {
  display: none !important;
}
.message.current .message__text {
  background-color: #0084ff;
  color: white;
}
